<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>
    <%= country ? 'Editar País' : 'Agregar País' %>
  </title>
  <style>
    .error {
      border: 2px solid red;
    }

    .error-message {
      color: red;
      font-size: 0.8em;
      margin-top: 5px;
    }
  </style>
</head>

<body>
  <h1>
    <%= country ? 'Editar País' : 'Agregar País' %>
  </h1>

  <<form action="/api/countries/editar/<%= country._id %>" method="POST">
    <% if (country) { %>
      <!-- Esto agrega un campo oculto para cambiar el método a PUT -->
      <input type="hidden" name="_method" value="PUT">
      <% } %>
        <div>
          <label for="nameCommon">Nombre Común</label>
          <input type="text" id="nameCommon" name="name.common" value="<%= country ? country.name.common : '' %>"
            required minlength="3" maxlength="90">
        </div>

        <div>
          <label for="nameOfficial">Nombre Oficial</label>
          <input type="text" id="nameOfficial" name="name.official" value="<%= country ? country.name.official : '' %>"
            required minlength="3" maxlength="90">
        </div>

        <div>
          <label for="capital">Capital</label>
          <input type="text" id="capital" name="capital[]"
            value="<%= country && country.capital ? country.capital.join(', ') : '' %>" required>
        </div>

        <div>
          <label for="area">Área (km²)</label>
          <input type="number" id="area" name="area" value="<%= country ? country.area : '' %>" required>
        </div>

        <div>
          <label for="region">Región</label>
          <input type="text" id="region" name="region" value="<%= country ? country.region : '' %>" required
            minlength="3" maxlength="100">
        </div>

        <div>
          <label for="population">Población</label>
          <input type="number" id="population" name="population" value="<%= country ? country.population : '' %>"
            required>
        </div>

        <div>
          <label for="languages">Idiomas</label>
          <input type="text" id="languages" name="languages[]"
            value="<%= country && country.languages ? Object.values(country.languages).join(', ') : '' %>" required>
        </div>

        <div>
          <label for="creator">Creador</label>
          <input type="text" id="creator" name="creator" value="<%= country ? country.creator : '' %>" required>
        </div>

        <button type="submit">
          <%= country ? 'Actualizar' : 'Agregar' %> País
        </button>
  </form>

  <button onclick="window.location.href='/api/countries';">
    Lista de Países
  </button>

  <script src="/js/validarEdicion.js"></script>
</body>

</html>