<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Editar País</title>
</head>
<body>

<h1>Editar País</h1>

<!-- form.ejs -->
<form id="edit-form" action="/api/countries/add-country" method="POST">
  <label for="nameCommon">Nombre Común</label>
  <input type="text" id="nameCommon" name="name.common" value="<%= country ? country.name.common : '' %>" required minlength="3" maxlength="90">

  <label for="nameOfficial">Nombre Oficial</label>
  <input type="text" id="nameOfficial" name="name.official" value="<%= country ? country.name.official : '' %>" required minlength="3" maxlength="90">

  <label for="capital">Capital</label>
  <input type="text" id="capital" name="capital" value="<%= country ? country.capital : '' %>" required>

  <label for="area">Área</label>
  <input type="number" id="area" name="area" value="<%= country ? country.area : '' %>" required>

  <label for="population">Población</label>
  <input type="number" id="population" name="population" value="<%= country ? country.population : '' %>" required>

  <label for="languages">Idiomas</label>
  <input type="text" id="languages" name="languages" value="<%= country ? country.languages.join(', ') : '' %>" required>

  <button type="submit"><%= country ? 'Actualizar' : 'Agregar' %> País</button>
</form>

<button onclick="window.location.href='/api/countries';" style="margin-top: 20px; padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px;">
  Lista de Países
</button>
  <script src="/js/validarEdicion"></script>
</body>
</html>

