<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>
    <%= country ? 'Editar País' : 'Agregar País' %>
  </title>
</head>

<body>

  <h1>
    <%= country ? 'Editar País' : 'Agregar País' %>
  </h1>

  <form action="/add-country" method="POST" id="countryForm">
    <% if (country) { %>
      <input type="hidden" name="_method" value="PUT">
      <% } %>

        <!-- Nombre Común -->
        <div>
          <label for="nameCommon">Nombre Común</label>
          <input type="text" id="nameCommon" name="name[common]" value="<%= country ? country.name.common : '' %>"
            required minlength="3" maxlength="90">
        </div>

        <!-- Nombre Oficial -->
        <div>
          <label for="nameOfficial">Nombre Oficial</label>
          <input type="text" id="nameOfficial" name="name[official]" value="<%= country ? country.name.official : '' %>"
            required minlength="3" maxlength="90">
        </div>

        <!-- Capital -->
        <div>
          <label for="capital">Capital (separadas por coma)</label>
          <input type="text" id="capital" name="capital" placeholder="Ej: Ciudad1, Ciudad2"
            value="<%= country ? country.capital.join(', ') : '' %>" required>
        </div>

        <!-- Área -->
        <div>
          <label for="area">Área (km²)</label>
          <input type="number" id="area" name="area" value="<%= country ? country.area : '' %>" required min="1">
        </div>

        <!-- Región -->
        <div>
          <label for="region">Región</label>
          <input type="text" id="region" name="region" value="<%= country ? country.region : '' %>" required
            minlength="3" maxlength="100">
        </div>

        <!-- Población -->
        <div>
          <label for="population">Población</label>
          <input type="number" id="population" name="population" value="<%= country ? country.population : '' %>"
            required min="1">
        </div>

        <!-- Idiomas -->
        <div>
          <label for="languages">Idiomas (separados por coma)</label>
          <input type="text" id="languages" name="languages" placeholder="Ej: Español, Inglés"
            value="<%= country ? country.languages.join(', ') : '' %>" required>
        </div>

        <!-- Creador -->
        <div>
          <label for="creator">Creador</label>
          <input type="text" id="creator" name="creator" value="<%= country ? country.creator : '' %>" required
            minlength="3" maxlength="100">
        </div>

        <button type="submit">
          <%= country ? 'Actualizar' : 'Agregar' %> País
        </button>
  </form>

  <button onclick="window.location.href='/api/countries';">
    Lista de Países
  </button>

  <script src="/js/form.js"></script>
</body>

</html>