<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Lista de Países</h1>
  
  <ul>
    <% countries.forEach(country => { %>
      <li>
        <h2><%= country.name.common %></h2>
        <p>Capital: <%= country.capital %></p>
        <p>Área: <%= country.area %> km²</p>
        <p>Población: <%= country.population %></p>
        <p>Idiomas: <%= country.languages ? Object.values(country.languages).join(', ') : 'No disponibles' %></p>
        <img src="<%= country.flag %>" alt="Flag of <%= country.name.common %>" width="50">

      </li>
    <% }) %>
  </ul>

  <a href="/add-country">Agregar un nuevo país</a>
</body>
</html>


