<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <ul>
    <% countries.forEach(country => { %>
      <li>
        <h2><%= country.name.common %></h2>
        <p>Capital: <%= country.capital.join(', ') %></p>
        <p>Área: <%= country.area %> km²</p>
        <p>Población: <%= country.population %></p>
        <p>Idiomas: <%= country.languages ? Object.values(country.languages).join(', ') : 'No disponibles' %></p>
        <p>Bandera:
          <% if (country.flag && country.flag.includes('http')) { %>
            <img src="<%= country.flag %>" alt="Bandera de <%= country.name.common %>" style="width: 50px; height: auto;">
          <% } else { %>
            <%= country.flag %> <!-- Esto mostrará el emoji de la bandera si es un emoji -->
          <% } %>
        </p>
        <p>Creator: <%= country.creator %></p>

        <!-- Botones de Edición y Eliminación -->
        <div>
          <a href="/countries/editar/<%= country._id %>" class="btn btn-primary"" style="padding: 5px 10px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Editar</a>
          
          <form onsubmit="deleteCountry(event, '<%= country._id %>')" style="display: inline-block;">
            <button type="submit" style="padding: 5px 10px; background-color: #ff4d4d; color: white; border: none; border-radius: 5px;">Eliminar</button>
          </form>
          
        </div>

      </li>
    <% }) %>
  </ul>

  <!-- Enlace para agregar un nuevo país -->
  <a href="/add-country" style="padding: 10px 10px;width:200px; background-color: #245118; color: white; text-decoration: none; border-radius: 5px; margin-top: 20px; display: block;">Agregar un nuevo país</a>

  <!-- Aquí se mostrarán los datos actualizados después de la edición -->
  <div id="display-container" style="margin-top: 20px; padding: 10px; border: 1px solid #007bff;">
    <!-- Los datos actualizados aparecerán aquí -->
  </div>

</body>

</html>


<script>
  async function deleteCountry(event, id) {
    event.preventDefault();
    
    if (confirm('¿Estás seguro de que quieres eliminar este país?')) {
      try {
        const response = await fetch(`/api/countries/${id}`, {
          method: 'DELETE'
        });
        
        if (response.ok) {
          window.location.reload();
        } else {
          alert('Error al eliminar el país');
        }
      } catch (error) {
        console.error('Error:', error);
        alert('Error al eliminar el país');
      }
    }
  }
  </script>
